html {
  --h1: 1.333rem;
  --h2: 1rem;
  --h3: .75rem;
  --width-text: 37.5rem;
}

body {
  color: #222;
  font-family: "Standard", sans-serif;
  font-size: var(--h2);
  line-height: 1.4;
  margin: 0;
  padding: 0 2.5vw;
}

figure {
  margin: 0;
}

figcaption {
  font-size: var(--h3);
  margin-top: .25rem;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin-top: 2em;
  margin-bottom: 1em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  color: currentColor;
}

.site-header {
  align-items: baseline;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding-top: 1rem;
}

.site-header a {
  text-decoration-thickness: 0.0625rem;
  text-underline-offset: 0.3em;
}

.site-title {
  margin: 0;
}

.site-main,
.site-footer {
  margin-bottom: 3rem;
}

.site-footer {
  font-size: var(--h3);
  max-width: var(--width-text);
}

.posts {
  display: grid;
  grid-gap: .5rem;
}

@media (min-width: 37.5em) {
  .posts {
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  }
}

.page > *,
.page__main > * {
  margin-bottom: 2rem;
}

.page__header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.page__title {
  font-size: var(--h1);
  margin: 0;
}

.page__images {
  display: grid;
  grid-gap: .5rem;
}

.page__text {
  max-width: var(--width-text);
}

.page__footer {
  font-size: var(--h3);
}


@media (min-width: 37.5em) {
  .page__images {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
}

.post,
.post__link {
  display: contents;
}

@font-face {
  font-family: "Standard";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/standard-book-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Standard";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/standard-book-italic-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Standard";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/standard-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Standard";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/standard-bold-italic-webfont.woff2") format("woff2");
}

.unset {
  all: unset;
}
